@import './main.scss';

.c1{
  font-size: $font-size-jumbo;
  color: blue;  

  @include tablet{
      color: blueviolet;
  }

  @include desktop{
      color: black;
  }
}

.spacer{
    height: 30px;
    width: 100vw;
}

.c2{
    font-size: $font-size-display;  
}

.c3{
    font-size: $font-size-header;  
}

.c4{
    font-size: $font-size-title;  
}

.c5{
    font-size: $font-size-subtitle;  
}

.c6{
    font-size: $font-size-body;  
}

.c7{
    font-size: $font-size-note;  
}

.c8{
    font-size: $font-size-caption;  
}

.grid-try{
    & div{
        height: 100px;
        width: 100%;
    }
    :nth-child(1n){
        background: blue;
    }
    :nth-child(2n){
        background: red;
    }
}