@import '../1_helpers/mixins';

html{
    font-size: $font-size-primary-small;
    @include tablet{
        font-size: $font-size-primary-medium;
    }
    @include desktop{
        font-size: $font-size-primary;
    }
}

body{
    @extend %reset;
    font-family: $font-body;
}